{% extends 'index.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">

    <div class="button-div">
      <a class="button-style" href="{% url 'author_create' %}">Dodaj autora</a>
    </div>
<table class="table table-bordered table-hover">
    <div class="">
          <input class="" id="" name="q" type="text" placeholder="Search">
          <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
<thead>
    <tr>
      <th>Imię autora</th><th>Nazwisko autora</th><th>Narodowość autora</th>
    </tr>
</thead>
{% for author in author_list %}
    <tbody>
        <tr>
            <td>{{ author.first_name }}</td>
            <td>{{ author.last_name }}</td>
            <td>{{ author.nationality }}</td>
        </tr>
    </tbody>
{% endfor %}
</table>
{% include 'authors/pagination.html' %}
</div>
{% endblock %}
